/*---Main de page contact--->start */

.contact--H{
    background-image: url(/assets/img_contact_desck.png);
    height: 806px;
    width:372px;
    border-radius:45px;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-items: flex-start;
}
@media(min-width:768px) {
.contact--H{
    background-image: url(/assets/img_contact_desck.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
}
.title-contact--H {
    color:white;
    
}
.title-contact--H h4{
    font-size:2.7rem;
    text-align:center;
    padding:-2rem;
}
.title-contact--H p{
    position:relative;
    top:-3rem;
    margin:-1rem;
    padding:1rem;
    font-size:1.45rem;
    text-align:center;
}

@media(min-width:768px){
    .title-contact--H {
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position:absolute;
        margin: 31%;
        position: relative;
        left: -25rem;
        top: -30rem;
        
    }
}

.formulaire-contact--H {
    width: 320px;
padding-left: 6%;

}

.formulaire-contact--H label{
    color: white;
}

.formulaire-contact--H input[type=text],textarea{
    width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  box-sizing: border-box;
  resize: vertical;
}

.formulaire-contact--H input[type=submit] {
    background-color: #33B8FF;
    color: white;
    padding: 12px 16px;
    position: relative;
    left: 116px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width:768px){
    .formulaire-contact--H {
        width: 550px;
        position: absolute;
       left: 30%;
       bottom: 4%;
    }
    .formulaire-contact--H input[type=submit] {
        background-color: #33B8FF;
        color: white;
        padding: 12px 30%;
        position: relative;
        left: 70px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}



/*---Main de page contact--->end */

