
/* Collapse FAQ */
.faq-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
  }

  /*Media query mobile de section 5*/
  @media (min-width:400px){
}

.faq-container h1 {
    text-align: center;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .faq-question:hover {
    background-color: #f1f1f1;
  }
  
  .faq-answer {
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .toggle-icon {
    font-size: 20px;
  }
  