* {
    margin: 0;
    padding:0;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    width: 100%;
  }
  
  /*Mobile design*/

  .services-table {
    width:90%;
    height: 60rem;
    margin:2rem;
    display:flex;
    justify-content:center;
  }
  .titre-A{
    font-size:1.5rem;
    display:flex;
    justify-content:center;
    padding: 1rem;
  }
  .circle{
    margin: 2rem;
    box-sizing:border-box;
    padding:1rem;
    background-color:#296E8C;
    clip-path: circle(50% at 50% 50%);
    width:35rem;
    height: 35rem;
    display:grid;
    justify-items:center;
  }
  
  .circle h3{
    padding-left: 10px;
    padding-top: 22px;
    font-size:7px; 
  }
  
  .in-circle1 {
    margin:0rem;
    width:6rem;
    height:6rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    
  }
  
  .in-circle2 {
    margin:0rem;
    width:6rem;
    height:6rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(11rem,2.7rem);
  }
  .in-circle3 {
    margin:0rem;
    width:6rem;
    height:6rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(11rem,6rem);
  }
  .in-circle4 {
    margin:0rem;
    width:6rem;
    height:6rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(-11rem,-9.4rem);
  }
  .in-circle5 {
    margin: 0rem;
    width:6rem;
    height:6rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(-11rem,-6rem);
  }
  .in-circle6 {
    margin:0rem;
    width:6rem;
    height:6rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(0rem,-3rem);
  }
  .in-circle7 {
    margin:-8rem;
    width:8rem;
    height:8rem;
    background-color:white;
    clip-path: circle(50% at 50% 50%);
    transform:translate(0rem,-15rem);
  }
  .in-circle7 h3{
    padding:2.5rem;
  }
  
  /*Responsive pour les tablettes*/
  
  @media (min-width: 767px){
    
    .services-table {
    width:90%;
    height: 60rem;
    margin:2rem;
    display:flex;
    justify-content:center;
  }
  .titre-A{
    font-size:2rem;
    display:flex;
    justify-content:center;
    padding: 1rem;
  }
  .circle{
    margin: 2rem;
    box-sizing:border-box;
    padding:1rem;
    background-color:#296E8C;
    clip-path: circle(50% at 50% 50%);
    width:42rem;
    height: 42rem;
    display:grid;
    justify-items:center;
  }
  
  .circle h3{
    padding-left: 10px;
    padding-top: 26px;
    font-size:10px; 
  }
  
  .in-circle1 {
    margin:0rem;
    width:8rem;
    height:8rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    
  }
  
  .in-circle2 {
    margin:0rem;
    width:8rem;
    height:8rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(13rem,2rem);
  }
  .in-circle3 {
    margin:0rem;
    width:8rem;
    height:8rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(13rem,7rem);
  }
  .in-circle4 {
    margin:0rem;
    width:8rem;
    height:8rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(-13rem,-14rem);
  }
  .in-circle5 {
    margin: 0rem;
    width:8rem;
    height:8rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(-13rem,-9rem);
  }
  .in-circle6 {
    margin:0rem;
    width:8rem;
    height:8rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(0rem,-8rem);
  }
  .in-circle7 {
    margin:-8rem;
    width:10rem;
    height:10rem;
    background-color:white;
    clip-path: circle(50% at 50% 50%);
    transform:translate(0rem,-24.5rem);
  }
  .in-circle7 h3{
    padding-top:4rem;
    padding-left:2.5rem
  }
    
  }
  
  /*Responsive pour desktop*/
  
  @media (min-width: 1024px){
    
    .services-table {
    width:90%;
    height: 60rem;
    margin:2rem;
    display:flex;
    justify-content:center;
  }
  .titre-A{
    font-size:2.5rem;
    display:flex;
    justify-content:center;
    padding: 1rem;
  }
  .circle{
    margin: 2rem;
    box-sizing:border-box;
    padding:1rem;
    background-color:#296E8C;
    clip-path: circle(50% at 50% 50%);
    width:52rem;
    height: 52rem;
    display:grid;
    justify-items:center;
  }
  
  .circle h3{
    padding-left: 10px;
    padding-top: 32px;
    font-size:1.3rem; 
  }
  
  .in-circle1 {
    margin:0rem;
    width:10rem;
    height:10rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    
  }
  
  .in-circle2 {
    margin:0rem;
    width:10rem;
    height:10rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(15rem,3rem);
  }
  .in-circle3 {
    margin:0rem;
    width:10rem;
    height:10rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(15rem,8rem);
  }
  .in-circle4 {
    margin:0rem;
    width:10rem;
    height:10rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(-15rem,-17rem);
  }
  .in-circle5 {
    margin: 0rem;
    width:10rem;
    height:10rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(-15rem,-12rem);
  }
  .in-circle6 {
    margin:0rem;
    width:10rem;
    height:10rem;
    background-color:#33B8FF;
    clip-path: circle(50% at 50% 50%);
    transform:translate(0rem,-10rem);
  }
  .in-circle7 {
    margin:-8rem;
    width:12rem;
    height:12rem;
    background-color:white;
    clip-path: circle(50% at 50% 50%);
    transform:translate(0rem,-32.5rem);
  }
  .in-circle7 h3{
    padding-top: 5rem;
    padding-left: 3rem
  }
  
  }